<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>dev.densumesh.sketchybar.calendar-events</string>
  <key>CFBundleName</key>
  <string>calendar_events</string>
  <key>NSCalendarsFullAccessUsageDescription</key>
  <string>Shows upcoming events in sketchybar.</string>
  <key>NSCalendarsUsageDescription</key>
  <string>Shows upcoming events in sketchybar.</string>
</dict>
</plist>
